@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E9E9E9;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  background: var(--background)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
